
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E7F4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

html {
  width: 100%;
  height: 100vh;
}
